/artifacts
/target
.DS_Store
.idea

/contracts/**/artifacts
/contracts/**/target
/contracts/**/debug
/contracts/**/schema
/contracts/**/.rustc_info.json
/packages/**/artifacts
/packages/**/target
/packages/**/debug
/packages/**/schema
/packages/**/.rustc_info.json

pubkeys.txt
docs/**
node_modules

.vscode